* {
    margin: 0;
    padding: 0;
    box-sizing: 
    border-box;
}

html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
      sans-serif;
    text-align: center;
}

h2{
    margin: 1% auto;
}


body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 162), rgb(48, 62, 142));
    font-family: sans-serif;
    color: white;
}